@import "variables";

.card {
  width: 350px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  margin: 20px;
}

.product-image {
  height: 263px;
  width: 100%;

  img {
    max-width: 100%;
    height: 100%;
  }
}

.product-information {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 30px;

  .product-text {
    font-size: 34px;
    color: $grey-800;

    h1 {
      font-size: 22px;
      font-family: 'Raleway', serif;
      margin: 0 0 4px 0;
    }

    h2 {
      font-size: 10px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: $grey-400;
      letter-spacing: 0.2em;
    }

    .price {
      font-size: 20px;
      text-align: end;
      margin: 0 0 15px 0;
    }

  }
}

.product-buttons {
  text-align: center;

  button {
    width: 137px;
    padding: 8px 0px;
    color: $accent-2;
    background-color: white;
    border: 1px solid $accent-2;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      background-color: $accent-2;
      color: white;
      cursor: pointer;
      font-weight: 400;
    }

    &:first-child {
      margin-right: 15px;
    }

  }

}
