@import "variables";

.card {
  padding: 30px 60px;
  display: flex;
  border-top: 1px solid #d2d2d2;
}

.product-image {
  height: auto;
  width: 300px;

  img {
    max-width: 100%;
    height: 100%;
  }
}

.product-information {
  width: 100%;
  background-color: #ffffff;
  padding: 0 0 4px 20px;
  display: flex;
  flex-direction: column;

  .product-text {
    font-size: 34px;
    color: $grey-800;
    flex: 1;

    h1 {
      font-size: 22px;
      font-family: 'Raleway', serif;
      margin: 0 0 3px 0;
    }

    h2 {
      font-size: 10px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: $grey-300;
      letter-spacing: 0.2em;
      padding-bottom: 2rem;
    }

    .price {
      font-size: 20px;
      text-align: end;
      margin: 0 0 15px 0;
    }

  }

  .product-buttons {
    text-align: end;

    button {
      width: 125px;
      padding: 8px 0px;
      color: $accent-2;
      background-color: white;
      border: 1px solid $accent-2;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:hover {
        background-color: $accent-2;
        color: white;
        cursor: pointer;
        font-weight: 400;
      }

    }

  }
}

