<div class="card">
  <div class="product-image">
    <img [src]="product.image">
  </div>
  <div class="product-information">
    <div class="product-text">
      <h1>{{ product.name }}</h1>
      <h2>{{ product.seller }}</h2>
      <p class="price">{{ product.price | currency }}</p>
    </div>
    <div class="product-buttons">
      <button type="button" (click)="remove()">Remove</button>
    </div>
  </div>
</div>
