@import "variables";

:host {
  display: flex;
  height: calc(100% - #{$header-height});
  background-color: $primary;
}

.panel {
  height: 100%;
  width: 50%;

  .text-container {
    padding: 8vh 10vh 8vh 14vh;
    color: white;

    h1 {
      padding-bottom: 1rem;
      letter-spacing: 5px;
      font-size: 6.5vh;
    }

    p {
      font-size: 2.3vh;
      letter-spacing: 0.5px;
    }
  }

  .image-container {
    width: 60%;
    margin: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 930px) {

  .panel {
    margin: auto;
    width: auto;

    &:first-child {
      display: none;
    }

  }

}

@media screen and (max-width: 768px) {

  :host {
    height: 100%;
  }

}
