<div class="panel">
  <div class="text-container">
    <h1>Stupid Market</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id augue at
      sapien vestibulum viverra. Proin suscipit ut felis non malesuada. Ut ut
      tortor finibus leo nec, auctor odio. Nunc egestas, tortor non dictum
      convallis.
    </p>
  </div>
  <div class="image-container">
    <img src="/assets/images/market.png" />
  </div>
</div>
<div class="panel">

  <app-auth-form *ngIf="formTemplate === 'login-form'" (submitted)="login($event)">
    <button class="button" type="submit">Login</button>
    <div class="text-link"><span (click)="setFormTemplate('register-form')">New customer? <strong>Register</strong></span></div>
  </app-auth-form>

  <app-auth-form *ngIf="formTemplate === 'register-form'" (submitted)="register($event)">
    <button class="button" type="submit">Register</button>
    <div class="text-link"><span (click)="setFormTemplate('login-form')">Already registered? <strong>Login</strong></span></div>
  </app-auth-form>

</div>
