<nav class="navbar">
  <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">+</label>
  <span></span>
  <input type="checkbox" id="chkToggle" />
  <ul class="main-nav" id="js-menu">
    <li>
      <a [routerLink]="'/market/products'" class="nav-links">Products</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a [routerLink]="'/market/cart'" class="nav-links">Cart
        <p-badge *ngIf="products.length > 0" [value]="products.length.toString()" class="badge" styleClass="p-mr-2"></p-badge>
      </a>
    </li>
    <li>
      <a class="nav-links">About Us</a>
    </li>
    <li>
      <a class="nav-links">Contact</a>
    </li>
    <li>
      <a *ngIf="currentRoute !== '/login' && !isLoggedIn" [routerLink]="'/login'" class="nav-links">Login</a>
    </li>
    <li>
      <a *ngIf="currentRoute !== '/login' && isLoggedIn" [routerLink]="'/login'" class="nav-links" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
