<form [formGroup]="loginForm" class="custom-form" (ngSubmit)="submit()">
  <input id="username" type="text" placeholder="username" formControlName="username">
  <input id="password" type="password" placeholder="password" formControlName="password">
  <ng-content select="button"></ng-content>
  <ng-content select=".text-link"></ng-content>
</form>
