@import "variables";

.custom-form {
  min-width: 250px;
  max-width: 400px;
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  color: black;
  margin: auto;
  background: rgba(255, 255, 255, 0.35);
  height: 80%;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

::ng-deep .custom-form input {
  font-family: Raleway, "Helvetica Neue", sans-serif;
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

::ng-deep .button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: $accent;
  width: 100%;
  display: block;
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

::ng-deep .text-link {
  font-size: 0.8rem;
  text-align: right;
  padding-right: .3rem;

  span {
    cursor: pointer;
  }

}
