@import "variables";

:host {
  display: flex;
  padding: 30px 50px;
  justify-content: center;
}

.products-container {
  flex-direction: column;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pagination {
  margin: 30px 0;
  text-align: center;

  li {
    display: inline;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: $grey-800;
    border-radius: 5px;
    transition: background-color 0.3s
  }

  li a.active {
    background-color: $primary;
    color: #fff
  }

  li a:hover:not(.active) {
    background-color: #ddd;
  }
}
