<div class="products-container">
  <div class="products-grid">
    <ng-container *ngFor="let product of products">
      <app-product-card [product]="product" (addToCart)="addToCart($event)"></app-product-card>
    </ng-container>
  </div>
  <ul id="pagination">
    <li><a class="" href="#">«</a></li>
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>
