<div class="cart-list">
  <ng-container *ngFor="let product of cartProducts">
    <app-cart-item [product]="product" (removeFromCart)="removeFromCart($event)"></app-cart-item>
  </ng-container>
  <div class="subtotal">
    <ng-template [ngTemplateOutlet]="cartProducts.length > 0 ? checkout : noProducts"></ng-template>
  </div>
</div>
<div class="whitespace"></div>

<ng-template #checkout>
  <span class="text">Total price ({{ cartProducts.length }} products): {{ subtotal | currency }}</span>
  <button type="button">CHECKOUT</button>
</ng-template>

<ng-template #noProducts>
  Your shopping cart is empty.
</ng-template>
