@import "variables";

.cart-list {
  padding-top: 50px;
  margin: auto;
  width: 60%;
}

.subtotal {
  height: 60px;
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  line-height: 60px;
  font-size: 3.2vh;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;

  .text {
    margin-right: 1rem;
  }
}

.whitespace {
  height: 50px;
}

button {
  width: 125px;
  padding: 8px 0px;
  color: white;
  background-color: $accent-2;
  border: 1px solid $accent-2;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }

}
